version: "3.8"

services:
  node1:
    build:
      context: ./layered/data-access/raft
    environment:
      NODE_ID: 1
      PORT: 50051
      PEERS: "2:node2:50052,3:node3:50053"
    ports:
      - "50051:50051"

  node2:
    build:
      context: ./layered/data-access/raft
    environment:
      NODE_ID: 2
      PORT: 50052
      PEERS: "1:node1:50051,3:node3:50053"
    ports:
      - "50052:50052"

  node3:
    build:
      context: ./layered/data-access/raft
    environment:
      NODE_ID: 3
      PORT: 50053
      PEERS: "1:node1:50051,2:node2:50052"
    ports:
      - "50053:50053"
